body{
	background: #f4f4f4;
}

.jumbotron{
	background: #d7eaef;
}

.navbar-inverse{
	background: #00576d;
	color: white;
}

.navbar-inverse .navbar-brand{
	color:white;
}

.navbar-inverse .navbar-nav li a{
	color: white;
}